# Python
__pycache__/
*.pyc
.venv/
venv/
dist/
*.egg-info/

# Node.js
node_modules/
dist/
build/
*.log
.env*

# Docker
.dockerignore
*.log*
coverage/

.specify/*
.specify/
.gemini/*
.gemini/
.speckit/
.spec/
.spec/*
specs/
specs/*
speckit.json
scripts/speckit/
.github/spec-kit/
prompts.md

# Ignore everything inside media
backend/src/media/*
!backend/src/media/invoices/
backend/src/media/invoices/*
!backend/src/media/invoices/.keep

insurance_reimbursement.code-workspace